@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 5% 20%;
    --card: 0 0% 100%;
    --card-foreground: 210 5% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 5% 20%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 80%;
    --secondary-foreground: 210 5% 20%;
    --muted: 210 10% 80%;
    --muted-foreground: 210 5% 40%;
    --accent: 210 10% 80%;
    --accent-foreground: 210 5% 20%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 10% 90%;
    --input: 210 10% 90%;
    --ring: 210 5% 20%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 5% 20%;
    --foreground: 0 0% 100%;
    --card: 210 5% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 210 5% 20%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 210 5% 20%;
    --secondary: 210 5% 30%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 5% 30%;
    --muted-foreground: 210 5% 60%;
    --accent: 210 5% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 5% 30%;
    --input: 210 5% 30%;
    --ring: 210 10% 90%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
